@page "/employeedetails/{id}"


@if (Employee == null || Employee.Department == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card">
                <h1>@Employee.FirstName @Employee.LastName</h1>
            </div>
            <div class="card-body text-center">
                <img class="card-img-top" src="@Employee.PhotoUrl" @onmousemove="@Mouse_Move" />
                <h4>@Koordinat</h4>
                <h4>Employee ID: @Employee.EmployeeId</h4>
                <h4>Email: @Employee.Email</h4>
                <h4>Department: @Employee.Department.DepartmentName</h4>
            </div>
            <div class="card-footer text-center">
                <a href="/" class="btn btn-primary">Black</a>
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
}





